<search-filters [merchants]="merchants" (filtersChange)="filters=$event;onFiltersChanged(grid);"></search-filters>
<vaadin-grid #grid [items]="expenses" [frozenColumns]="1" (selected-items-changed)="selected(grid)">
  <table>
    <colgroup>
      <col name="date" width="120" sortable sort-direction="desc"/>
      <col name="merchant" sortable />
      <col name="total" width="150" sortable />
      <col name="status" width="150" sortable />
      <col name="comment" sortable />
      <col name=" " flex />
    </colgroup>
  </table>
</vaadin-grid>
<paper-toast text="No results. Check filters." #toast duration="0"></paper-toast>
