:host {
  display: block;
}

.main-layout {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex: 1;
  overflow: auto;
}

@media (max-width: 900px) {
  form {
    flex-direction: column;
  }
}

.form {
  flex: 2;
  padding-right: 24px;
}

.receipt {
  flex: 3;
  background: #F7F8F8;
}

img {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 20px;
}

vaadin-upload {
  display: flex;
  flex-direction: column-reverse;
}

.file-list {
  text-align: center;
}
